/*GENERAL*/
body{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    width: 100% ;
    min-width: 280px;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.back-color-blue{
    background-color: #0065FC;
}
.back-color-grey{
    background-color: #F2F2F2;
}
.back-color-bluelight{
    background-color: #DEEBFF;
}
.text-color-black{
    color: black;
}
.text-color-white{
    color: white;
}
.text-color-blue{
    color: #0065FC;
}
.text-color-grey{
    color: grey;
}
.text-deco{
    text-decoration: none;
}
.list-style{
    list-style: none;
}
.text-size-20{
    font-size: 20px;
}
.text-size-15{
    font-size: 15px;
}
.text-size-13{
    font-size: 13px;
}
.text-size-12{
    font-size: 12px;
}
.bold{
    font-weight: bold;
}
.height-50{
    height: 50px;
}
.margin-left-30{
    margin-left: 30px;
}
.margin-left-150{
    margin-left: 150px;
}
.padding-0{
    padding: 0;
}
.padding-30{
    padding: 30px;
}
.padding-top-20{
    padding-top: 20px;
}
.margin-0{
    margin: 0;
}
.margin-top-20{
    margin-top: 20px;
}
.center-element{
    vertical-align: middle;
    text-align: center;
}
.line-height-25{
    line-height: 25px;
}
/*HEADER*/
header img{
    width: 100px;
    margin-left: 50px;
}
nav ul{
    display: flex;
}
nav ul li{
    margin-right: 70px;
}
nav ul li a:hover{
    color: #0065FC;
    border-top: #0065FC solid 3px;
    padding-top: 34px;
}
/*CONTENU*/

h1{
    margin-top: 40px;
    margin-bottom: 0;
}
h2{
    margin-top: 5px;
}
/*Barre de recherche*/
#loc{
    line-height: 50px;
}
span{
    width: 50px;
}
.recherche{
    display: flex;
    border-radius: 10px;
}
.search-bar{
    width: 230px;
    border: #F2F2F2 solid 1px;
    border-left: hidden;
    border-right: hidden;
}
/*Filtres*/
.filter{
    display: flex;
    flex-wrap: wrap;
    line-height: 40px
}
.filter p{
    margin: 0;
}
.contain-filter{
    margin-left: 25px;
}
.contain-filter i{
    line-height: 40px;
    border-radius: 40px;
    height: 40px;
    width: 40px;
}
.logo-txt{
    padding: 9px 9px 11px 30px;
    border: solid #F2F2F2 2px;
    border-radius: 0 50px 50px 0; 
    border-left: #DEEBFF;
    overflow: hidden;
    margin-left: -17px;
}
.contain-filter:hover{
    box-shadow: #0065FC 0 0 10px;
    border-radius: 20px;
}
.info{
    display: flex;
    flex-wrap: nowrap;
    font-size: 10px;
}
.logo-info{
    border: solid 2px #F2F2F2;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    line-height: 15px;
}
.info-txt{
    padding-left: 8px;
    padding-top: 2px;
}
/*Cartes hébergements*/
.conteneur-1{
    display: flex;
    justify-content: flex-start;
}
.hebergement{
    width: 66%;
    height: 500px;
    border-radius: 20px;
}
.containcardH{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}
.cardH{
    width: 180px;
    height: 150px;
    border-radius: 20px;
    padding: 0.5%;
    box-shadow: grey 0 0 15px;
    margin: 10px;
}
.imgcardH{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
}
.cardH p, .card-pop p, .rating{
    padding-left: 10px;
    margin-top: 3px;
}
.cardH:hover, .cardP:hover{
    box-shadow: #0065FC 0 0 15px; 
}
/*Cartes populaires*/
.card-pop{
    display: flex;
    width: 250px;
    height: 100px;
    border-radius: 20px;
    padding: 1%;
    margin: 1%;
    margin-top: 20px;
    box-shadow: grey 0 0 15px;
}
.imgcardP{
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 0 0 20px;
}
aside{
    width: 30%;
    height: 500px;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 30px;
}
aside span{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/*Activités*/
.conteneur2{
    margin-top: 50px;
}
.activités{
    display: flex;
    justify-content: space-around;
}
.itemx1{
    width: 220px;
    height: 280px;
    border-radius: 20px;
    border: #F2F2F2 solid 1px;
}
.itemx1:hover{
    border: #0065FC solid 2px;
    border-top: hidden;
    border-bottom: hidden;
}
.itemx1 img{
    width: 100%;
    height: 85%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: center;
}
.itemx1 p{
    padding: 10px;
}
.itemx2{
    flex-direction: column;
}
.itemx2img{
    width: 220px;
    height: 130px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: #F2F2F2 solid 1px;
}
.itemx2img:hover{
    border: #0065FC solid 2px;
    border-top: hidden;
    border-bottom: hidden;
}
.itemx2 img{
    width: 100%;
    height: 75%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: center;
}
.itemx2 p{
    padding-top: 5px;
    padding-left: 10px;
}
/*FOOTER*/

footer{
    display: flex;
    justify-content: flex-start;
}

/*MEDIA QUERIES*/

/*Desktop & Tab*/
@media screen and (min-width: 768px){
    body{
        width: 992px;
    }
    .recherche{
        width: 370px; 
    }
    #loupe{
        display: none;
    }
    .searchbutton{
        width: 140px;
        border-radius: 0 10px 10px 0;
    }
}
/*Tab*/
@media screen and (min-width: 768px) and (max-width: 991px){
    body{
        width: 768px;
    }
    .logotxt{
        padding-left: 20px;
    }
    .conteneur-1{
        flex-direction: column-reverse;
        width: 720px;
        margin: auto;
    }
    aside:not(aside span){
        width: 720px;
        height: 220px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0;
    }
    .card-pop{
        width: 210px;
    }
    .hebergement{
        width: 720px;
        height: 500px;
    }
    .containcardH{
        justify-content: center;
    }
    .conteneur2{
        width: 720px;
        margin: auto;
    }
    .itemx1{
        width: 150px;
    }
    .itemx2img{
        width: 180px;
    }
    .noshebergement, .assistance{
        margin-left: 100px;
    }
} 
    

/*Phone*/
@media screen and (max-width: 767.9px) {
    body{
        margin: 0;
    }
    header{
        text-align: center;
        flex-direction: column;
    }
    header img{
        margin-left: auto;
        margin-right: auto;
    }
    nav ul{
        padding: 15px 0 15px 0 ;
    }
    nav ul li{
        width: 100%;
        margin: auto;
        border-bottom: #F2F2F2 solid 5px;
        padding-bottom: 15px;
    }
    nav ul li a:hover { 
        border-top: hidden;
    }
    .liennav:hover{ 
        border-bottom: #0065FC solid 5px;
        padding-bottom: 15px;
    }
    main{
        margin: 0;
    }
    h1, h2{
        margin-left: 10px;
    }
    .recherche{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        position: relative;   
        width: 280px; 
    }
    .searchtext{
        display: none;
    }
    .searchbutton{
        width: 50px;
        border-radius: 10px;
        line-height: 50px;
    }
    #loupe{
        font-size: 20px;
    }
    .filter{
        justify-content: flex-start;
        margin-left: 5px;
    }
    .contain-filter{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .conteneur-1{
        flex-direction: column-reverse;
        margin: auto;
    }
    aside{
        width: 95%;
        margin: auto;
        height: 550px;
        margin-top: 30px;
    }
    .card-pop{
        width: 300px;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
    }
    .textcard{
        padding: 15px;
    }
    .hebergement{
        width: 95%;
        height: auto;
        flex-direction: column;
        margin: auto;
        margin-top: 50px;
        background-color: white;
    }
    .containcardH{
        justify-content: center;
    }
    .cardH{
        width: 300px;
        height: 150px;
    }
    .conteneur2{
        margin: auto;
        margin-top: 50px;
    }
    .activités{

        width: 95%;
        flex-direction: column;
        margin: auto;
    }
    .itemx1, .itemx2img{
        width: 300px;
        height: 160px;
        margin: auto;
        margin-bottom: 20px;
    }
    .itemx1 p{
        padding: 0 15px;
    }
    footer{
        width: 95%;
        display: block;
    }
    .propos{
        padding-top: 20px;
    }
    .noshebergement, .assistance{
        margin: 30px 30px;
    }
}