/*GENERAL*/
body{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    min-width: 280px;
}
main{
    margin-left: 15px;
}
.flexbetween{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.backcolorblue{
    background-color: #0065FC;
}
.backcolorgrey{
    background-color: #F2F2F2;
}
.backcolorbluelight{
    background-color: #DEEBFF;
}
.textcolorblack{
    color: black;
}
.textcolorwhite{
    color: white;
}
.textcolorblue{
    color: #0065FC;
}
.textcolorgrey{
    color: grey;
}
.textdeco{
    text-decoration: none;
}
.liststyle{
    list-style: none;
}
.textsize15{
    font-size: 15px;
}
.textsize13{
    font-size: 13px;
}
.textsize12{
    font-size: 12px;
}
.bold{
    font-weight: bold;
}
.height50{
    height: 50px;
}
.marginleft30{
    margin-left: 30px;
}
.marginleft150{
    margin-left: 150px;
}
.padding0{
    padding: 0;
}
.padding30{
    padding: 30px;
}
.paddingtop20{
    padding-top: 20px;
}
.margin0{
    margin: 0;
}
.margintop20{
    margin-top: 20px;
}
.centerelement{
    vertical-align: middle;
    text-align: center;
}
.lineheight25{
    line-height: 25px;
}
/*HEADER*/
header img{
    width: 100px;
    margin-left: 50px;
}
nav ul{
    display: flex;
}
nav ul li{
    margin-right: 70px;
}
nav ul li a:hover{
    color: #0065FC;
    border-top: #0065FC solid 3px;
    padding-top: 34px;
}
/*CONTENU*/

h1{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 0;
}
h2{
    font-size: 13px;
    margin-top: 5px;
}
/*Barre de recherche*/
#loc{
    line-height: 50px;
}
span{
    font-size: 20px;
    width: 50px;
}
.recherche{
    display: flex;
    border-radius: 10px;
}
.searchbar{
    width: 230px;
    border: #F2F2F2 solid 1px;
    border-left: hidden;
    border-right: hidden;
}
/*Filtres*/
.filter{
    display: flex;
    flex-wrap: wrap;
    line-height: 40px
}
.filter p{
    margin: 0;
}
.containfilter{
    margin-left: 25px;
}
.containfilter i{
    line-height: 40px;
    border-radius: 40px;
    height: 40px;
    width: 40px;
}
.logotxt{
    padding-left: 30px;
    padding-right: 9px;
    padding-top: 9px;
    padding-bottom: 11px;
    border: solid #F2F2F2 2px;
    border-radius: 0 50px 50px 0; 
    border-left: #DEEBFF;
    overflow: hidden;
    margin-left: -17px;
}
.containfilter:hover{
    box-shadow: #0065FC 0 0 10px;
    border-radius: 20px;
}
.info{
    display: flex;
    flex-wrap: nowrap;
    font-size: 10px;
}
.logoinfo{
    border: solid 2px #F2F2F2;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    line-height: 15px;
}
.infotxt{
    padding-left: 8px;
    padding-top: 2px;
}
/*Cartes hébergements*/
.conteneur1{
    display: flex;
    justify-content: flex-start;
}
.hebergement{
    width: 66%;
    height: 500px;
    border-radius: 20px;
    max-width: 720px;
}
.containcardH{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}
.cardH{
    width: 180px;
    height: 150px;
    border-radius: 20px;
    padding: 0.5%;
    box-shadow: grey 0 0 15px;
    margin: 10px;
}
.imgcardH{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
}
.cardH p, .cardP p, .rating{
    padding-left: 10px;
    margin-top: 3px;
}
.cardH:hover, .cardP:hover{
    box-shadow: #0065FC 0 0 15px; 
}
/*Cartes populaires*/
.cardP{
    display: flex;
    width: 250px;
    height: 100px;
    border-radius: 20px;
    padding: 1%;
    margin: auto;
    margin-top: 20px;
    box-shadow: grey 0 0 15px;
}
.imgcardP{
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 0 0 20px;
}
aside{
    width: 30%;
    height: 500px;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 30px;
}
aside span{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/*Activités*/
.conteneur2{
    margin-top: 50px;
}
.activités{
    display: flex;
    justify-content: space-around;
}
.itemx1{
    width: 220px;
    height: 280px;
    border-radius: 20px;
    border: #F2F2F2 solid 1px;
}
.itemx1:hover{
    border: #0065FC solid 2px;
    border-top: hidden;
    border-bottom: hidden;
}
.itemx1 img{
    width: 100%;
    height: 85%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: center;
}
.itemx1 p{
    padding: 10px;
}
.itemx2{
    flex-direction: column;
}
.itemx2img{
    width: 220px;
    height: 130px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: #F2F2F2 solid 1px;
}
.itemx2img:hover{
    border: #0065FC solid 2px;
    border-top: hidden;
    border-bottom: hidden;
}
.itemx2 img{
    width: 100%;
    height: 75%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: center;
}
.itemx2 p{
    padding-top: 5px;
    padding-left: 10px;
}
/*FOOTER*/

footer{
    display: flex;
    justify-content: flex-start;
}

/*MEDIA QUERIES*/

/*Desktop & Tab*/
@media screen and (min-width: 768px){
    .recherche{
        width: 370px; 
    }
    #loupe{
        display: none;
    }
    .searchbutton{
        width: 140px;
        border-radius: 0 10px 10px 0;
    }
}
/*Tab*/
@media screen and (min-width: 768px) and (max-width: 991px){
    .logotxt{
        padding-left: 20px;
    }
    .conteneur1{
        flex-direction: column-reverse;
    }
    aside:not(aside span){
        width: 720px;
        height: 220px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0;
    }
    .cardP{
        margin: 5px;
        width: 210px;
    }
    .hebergement{
        width: 720px;
        height: 500px;
    }
    .containcardH{
        justify-content: center;
    }
    .conteneur2{
        width: 720px;
    }
    .itemx1{
        width: 150px;
    }
    .itemx2img{
        width: 180px;
    }
    .noshebergement, .assistance{
        margin-left: 100px;
    }
} 
    

/*Phone*/
@media screen and (max-width: 767.9px) {
    body{
        margin: 0;
    }
    header{
        text-align: center;
        flex-direction: column;
    }
    header img{
        margin-left: auto;
        margin-right: auto;
    }
    nav ul{
        padding: 15px 0 15px 0 ;
    }
    nav ul li{
        width: 100%;
        margin: auto;
        border-bottom: #F2F2F2 solid 5px;
        padding-bottom: 15px;
    }
    nav ul li a:hover { 
        border-top: hidden;
    }
    .liennav:hover{ 
        border-bottom: #0065FC solid 5px;
        padding-bottom: 15px;
    }
    main{
        margin: 0;
    }
    h1, h2{
        margin-left: 10px;
    }
    .recherche{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        position: relative;   
        width: 280px; 
    }
    .searchtext{
        display: none;
    }
    .searchbutton{
        width: 50px;
        border-radius: 10px;
        line-height: 50px;
    }
    #loupe{
        font-size: 20px;
    }
    .filter{
        justify-content: flex-start;
        margin-left: 5px;
    }
    .containfilter{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .conteneur1{
        flex-direction: column-reverse;
        margin: auto;
    }
    aside{
        width: 95%;
        margin: auto;
        height: 550px;
        margin-top: 30px;
    }
    .cardP{
        width: 300px;
        height: 120px;
    }
    .textcard{
        padding: 15px;
    }
    .hebergement{
        width: 95%;
        height: auto;
        flex-direction: column;
        margin: auto;
        margin-top: 50px;
        background-color: white;
    }
    .containcardH{
        justify-content: center;
    }
    .cardH{
        width: 300px;
        height: 150px;
    }
    .conteneur2{
        margin: auto;
        margin-top: 50px;
    }
    .activités{

        width: 95%;
        flex-direction: column;
        margin: auto;
    }
    .itemx1, .itemx2img{
        width: 300px;
        height: 160px;
        margin: auto;
        margin-bottom: 20px;
    }
    .itemx1 p{
        padding: 0 15px;
    }
    footer{
        width: 95%;
        display: block;
    }
    .propos{
        padding-top: 20px;
    }
    .noshebergement, .assistance{
        margin: 30px 30px;
    }
}